{% extends "base.html" %} 

{% block content %}
<h1 align="center">Akaidis Main-Menu</h1>

<div class="textbox" align="center">
    <p>This website has been created for private purposes.<br/>
        On this site you will able to view certain lore and information about the DnD-Campaign called Akaidis.<br/>
        The lore will be coming with progression of the terrain, in a way it doesn't spoil anything for the players involved.
        <br/><br/>
        At the end of the campaign all will be publicly available, including the created characters and their build.
    </p>
</div>
{% endblock %}
